label{
	text-align: center;
}

input[type=text],[type=email],[type=tel] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
}

textarea{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
	
}

#logo{
	width:200px;
	height: 150px;
	}
